.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid orange;
}

.app{
    background-image: linear-gradient(red, yellow);
}

.user-logo{
    margin-left: 8px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.logo{
    width: 158px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px;
}

.nav-items > ul > li{
    padding: 1px;
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    padding: 5px;
    background-image: radial-gradient(circle, black, white, black);
    width: 200px;
    margin: 5px;
    border: 3px solid transparent;
}

.res-card:hover{
    cursor: pointer;
    border: 0.2px solid yellow;
}

.search{
    padding: 20px;
}

.button{
    color: yellow;
}
.card-name{
    color: yellow;
}

.cuisines{
    color: green;
}

.star-rating{
    color: orange;
}

.delivery-time{
    color: orange;
}

.cost-for-two{
    color: green;
}

.card-logo{
    width: 100%;
}

.footer{
    border: 2px solid orange;
    padding: 10px;
    background-color: black;
}

.copyright{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact {
    margin-left: 86%;
}

.email {
    padding-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.create {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
    border: 3px solid yellow;
    background-color: black;
}

.clr-filter-btn {
    margin-left: 10%;
    cursor: pointer;
    border: 3px solid yellow;
    background-color: black;
    margin: 10px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 5px;
    width: 200px;
    height: 300px;
    background-color: lightgray;
}

.login-btn{
    padding: 0 20px;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}